*{
    font-family: Helvetica, Arial, Verdana;
    text-align: center;
}
body{
    background-color: #c1d6d1;
}
h1{
    font-size: 48px;
    text-align: center;
    
}
li{
    display: inline-block;
    padding: 0 40px;
    margin: 0 auto;

}
a{
    text-decoration: none;
    color: #4c56b4;
    font-weight: bold;
    font-size: 24px;
}
a:hover{
    background-color: #4c56b4;
    color: #ffffff;
    
}
h2{
    text-align: center;
    color: #ce861b;
    font-family: 'Courier New', Courier, monospace;
}
img{
    display: block;
    margin: 0 auto;
}
